html {
  box-sizing: border-box;
  font-family: "Poppins", "Montserrat", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.first-nav {
  display: flex;
  transition: transform 0.3s ease;
  justify-content: space-between;
  height: 68px;
}
.first-nav.hide {
  transform: translateY(-100%);
}
.first-nav-logo {
  height: 122px;
  width: 161px;
  margin: 0 0 0 40px;
}

.sec-nav {
  display: flex;
  justify-content: space-between;
  height: 65px;
  background: linear-gradient(360deg, #000e38 0%, #3f186a 100%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  display: none;
}
.sec-nav-logo {
  height: 70px;
  width: 70px;
  margin: 0 0 0 60px;
}
.register-btn-nav {
  margin: 10px 60px 0 0;
}
.register-btn {
  height: 50px;
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #000e38;
  border-radius: 4px;
  cursor: pointer;
  padding: 0;
  transition: transform 0.2s;
}

.icon-box {
  background: linear-gradient(to bottom, #3f186a, #000e38);
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-box-white {
  background-color: #fff;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register-btn-white {
  height: 50px;
  display: flex;
  align-items: center;
  background-color: #3f186a;
  border: 1px solid #fff;
  border-radius: 4px;
  cursor: pointer;
  padding: 0;
  transition: transform 0.2s;
}
.text-box-white {
  color: #fff !important;
  font-size: 13px;
  font-weight: 700;
  padding: 0 20px;
  text-transform: uppercase;
}

.text-box {
  color: #000e38;
  font-size: 13px;
  font-weight: 700;
  padding: 0 20px;
  text-transform: uppercase;
}
.text-box-2 {
  color: #0344a2;
  background: #fff;
  height: 50px;
  border-radius: 10px;
  border: 0;
  font-size: 15px;
  font-weight: 700;
  padding: 2px 25px;
  margin: 6px 60px 0 0;
}
/* main section css */
.hero {
  padding: 0px 40px;
  background: radial-gradient(circle at right, #5a2d82, #0b0f3b);
  height: 85vh;
}

.hero-container {
  display: flex;
  gap: 40px;
  align-items: center;
}

/* LEFT */
.hero-left {
  width: 35%;
  color: #fff;
}

.badge {
  display: inline-block;
  background: #0a2f7d;
  padding: 6px 14px;
  border-radius: 6px;
  font-weight: bold;
}

.hero-left h1 {
  font-weight: 700;
  font-size: 45px;
  margin: 20px 0 10px;
  color: #ffcc81;
}

.subtitle {
  letter-spacing: 2px;
  color: #ffcc81;
  margin-bottom: 30px;
}

.event-box {
  display: flex;
  align-items: center;
  background: #f6d19a;
  color: #0b0f3b;
  padding: 18px 22px;
  border-radius: 30px;
  gap: 20px;
  width: fit-content;
  opacity: 1;
  border-radius: 213.33px;
}

.divider {
  width: 1px;
  height: 40px;
  background: #c09a60;
}

/* IMAGES */
/* HERO IMAGES WRAPPER */
.hero-images {
  height: 551px;
  display: flex;
  gap: 12px;
  overflow: hidden;
}

/* EACH COLUMN */
.hero-images img {
  width: 135px;
  height: 440px;
  object-fit: cover;
  display: block;
}
/* BASE (no duration here) */
.hero-images > div {
  display: flex;
  flex-direction: column;
  gap: 12px;
  animation-name: scrollUp;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/* DIFFERENT SPEEDS */
.column-1 {
  animation-duration: 6s;
}

.column-2 {
  animation-duration: 8s;
}

.column-3 {
  animation-duration: 6s;
}

/* PAUSE ON HOVER */
.hero-images:hover > div {
  animation-play-state: paused;
}

/* KEYFRAMES */
@keyframes scrollUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50%);
  }
}

/* FORM */
.hero-form {
  width: 25%;
  background: rgba(255, 255, 255, 0.08);
  padding: 30px;
  border-radius: 16px;
  color: #fff;
}

.hero-form h3 {
  margin-bottom: 20px;
}

.hero-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 14px;
  border: none;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.12);
  color: #fff;
}

.hero-form input::placeholder {
  color: #ddd;
}
.icon-box-white {
  background-color: #fff !important;
}

.hero-form button span {
  color: #000;
  margin-right: 8px;
}
/* Frame Section */
.image-section {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.image-section img {
  width: 250px;
  height: 165px;
  object-fit: contain;
}
/* school logo section */
.schools {
  padding: 40px 0;
  text-align: center;
}

.schools h1 {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 40px;
  color: #000e38;
}

.slider {
  overflow: hidden;
}

.track {
  display: flex;
  width: max-content;
  margin-bottom: 12px;
  animation: scroll 25s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.track-right {
  animation-direction: reverse;
}

.track:hover,
.track:focus-within {
  animation-play-state: paused;
}

.track img {
  width: 120px;
  height: 120px;
  object-fit: contain;
  margin: 0 30px;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
/* School section */
.school-section {
  padding: 40px 20px;
  text-align: center;
}

.school-section h1 {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 40px;
  color: #000e38;
}

/* Desktop grid */
.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 10px 30px;
  scrollbar-width: none;
}

.card {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  height: 300px;
  transition: transform 0.5s ease;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: #ccc;
}
.card:hover img {
  transform: scale(1.1);
}
/* Black fade overlay */
.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0)
  );
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px 10px 20px 15px;
  color: #fff;
}

.overlay h3 {
  margin: 0 0 8px;
  font-size: 17px;
  font-weight: 600;
  text-align: left;
}

.overlay p {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  text-align: left;
}
/* pre-schedule section */
.pre-schedule {
  display: grid;
  grid-template-columns: 40% 60%;
  background: #dec1ff;
  align-items: stretch;
}

.content {
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content small {
  color: #7955a2;
  font-size: 23px;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 10px;
  display: block;
}

.content h1 {
  color: #000e38;
  font-size: 51px !important;
  font-weight: 400;
  margin: 0 0 10px;
  font-size: 36px;
  line-height: 130%;
}

.content p {
  margin: 0 0 20px;
  color: #555;
}
.content-button {
  width: 230px;
  background: #dec1ff;
}

.image-box {
  position: relative;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.image-box::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to left,
    rgba(239, 230, 255, 0) 70%,
    rgba(222, 193, 255, 1) 100%
  );
}
/* exhibition section */
.exhibition {
  background: linear-gradient(360deg, #000e38 0%, #3f186a 100%);
  padding: 50px 20px 65px;
  clip-path: ellipse(92% 100% at 50% 0%);
}
.exhibition h1 {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 40px;
  color: #fff;
}

/* SLIDER */
.slider-wrapper {
  overflow: hidden;
  max-width: 1200px;
  margin: auto;
}

.slider-track {
  display: flex;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

/* CARD */
.slide-card {
  background: linear-gradient(59.05deg, #ddbfff 0.39%, #edddff 93.5%);
  border-radius: 16px;
  padding: 30px 25px;
  margin: 0 12px;
  min-height: 250px;
  flex: 0 0 calc(33.33% - 24px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.slide-card img {
  height: 80px;
  width: 80px;
}
.slide-card h4 {
  margin: 15px 0 10px;
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
  color: #000e38;
}

.slide-card p {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  color: #3f186a;
  opacity: 0.8;
  line-height: 150%;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

.controls button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  cursor: pointer;
  align-items: center;
  transition: all 0.2s ease;
}

.controls button:active {
  background-color: #fff;
  color: #000e38;
  transform: scale(0.9);
}

/* footer section */
.footer {
  background: linear-gradient(360deg, #000e38 0%, #3f186a 100%);
  color: #fff;
  padding: 50px 0px 0px;
  margin-top: 5%;
}

.footer-top {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1.5fr 1.5fr;
  gap: 30px;
  max-width: 1200px;
  margin: auto;
  align-items: start;
}

.footer-logo img {
  height: 124px;
  width: 141px;
}

.footer-box {
  display: flex;
}

.footer-img {
  width: 48px;
  height: 48px;
  margin-right: 14px;
}

.footer-img2 {
  margin-right: 0px;
}

.footer-box h4 {
  margin: 0 0 10px;
  font-size: 20px;
  font-weight: 600;
}

.footer-box p {
  margin: 0;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.6;
}

.footer-box span {
  display: block;
  margin-bottom: 5px;
}

.footer-bottom {
  margin-top: 40px;
  padding-top: 15px;
  text-align: center;
  font-size: 16px;
  background: #fff;
  color: #000e38;
  padding-bottom: 15px;
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}

/* Media Query for Mobile Devices */
@media only screen and (min-width: 280px) and (max-width: 767px) {
  #first-nav {
    display: flex;
    justify-content: space-between;
    height: 55px;
  }
  .hero-left h1 {
    margin-top: 27px;
  }
  .first-nav-logo {
    height: 97px;
    width: 125px;
    margin: 0 0 0 40px;
  }
  .register-btn-nav {
    margin: 12px 24px 0 0;
  }
  .register-btn {
    height: 30px;
  }
  .icon-box-child {
    height: 29px;
    width: 29px;
  }
  .text-box {
    color: #000e38;
    font-size: 7px !important;
    text-transform: uppercase;
  }
  .text-box-2 {
    height: 39px;
    margin: 12px 24px 0 0;
    font-size: 10px;
  }
  .sec-nav-logo {
    height: 63px;
    width: 76px;
    margin: 0 0 0 39px;
  }
  .icon-box-white {
    background-color: #fff;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .register-btn-white {
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #3f186a;
    border: 1px solid #fff;
    border-radius: 4px;
    cursor: pointer;
    padding: 0;
    transition: transform 0.2s;
  }
  .text-box-white {
    color: #fff !important;
    font-size: 13px;
    font-weight: 700;
    padding: 0 20px;
    text-transform: uppercase;
  }
  /* hero section */
  .hero {
    padding: 0px 30px;
    height: fit-content;
  }
  .hero-left {
    width: 100%;
    color: #fff;
  }
  .hero-images {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }
  .hero-form {
    width: 100%;
    margin-bottom: 10px;
  }
  .hero-container {
    display: flex;
    gap: 40px;
    flex-direction: column;
  }
  /* Frame Section */
  .image-section {
    grid-template-columns: repeat(2, 170px);
  }
  .image-section img {
    width: 170px;
  }
  /* school logo section */
  .track img {
    width: 100px;
    height: 100px;
    margin: 0 10px;
  }
  .schools h1 {
    font-size: 20px;
  }
  /* School section */
  .school-section h1 {
    font-size: 20px;
  }
  .card-grid {
    display: flex;
    overflow-x: auto;
    gap: 16px;
    scroll-snap-type: x mandatory;
    margin: 10px 5px;
  }
  .card {
    height: 300px;
    flex: 0 0 78% !important;
  }
  /* pre-schedule section */
  .pre-schedule {
    grid-template-columns: 1fr;
  }
  .content {
    padding: 30px 20px 30px 28px;
  }

  .content h1 {
    font-size: 28px !important;
  }
  .content small {
    font-size: 16px !important;
  }
  .content-button {
    width: 148px;
  }
  .image-box::before {
    background: linear-gradient(
      to top,
      rgba(239, 230, 255, 0) 60%,
      rgba(222, 193, 255, 1) 100%
    );
  }
  /* exhibition section */
  .slide-card {
    flex: 0 0 85%;
  }

  .exhibition {
    clip-path: ellipse(160% 100% at 50% 0%);
  }
  .exhibition h1 {
    font-size: 20px;
  }
  .slide-card img {
    height: 50px;
    width: 50px;
  }
  .slide-card h4 {
    font-size: 20px;
  }
  .slide-card p {
    font-size: 16px;
  }
  /* footer section */
  .footer-top {
    grid-template-columns: 1fr;
    padding: 0 40px;
  }

  .footer-logo {
    grid-column: auto;
  }

  .footer-logo img {
    width: 100px;
    height: 100px;
  }
  /*  */
  .hero-container {
    flex-direction: column;
    gap: 24px;
  }

  .hero-images {
    height: 340px;
    justify-content: center;
    gap: 10px;
  }

  .hero-images img {
    width: 96px;
    height: 260px;
  }
  .column-1 {
    animation-duration: 12s;
  }

  .column-2 {
    animation-duration: 14s;
  }

  .column-3 {
    animation-duration: 12s;
  }
  .pagination {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 15px;
  }

  .pagination button {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: none;
    background: #ccc;
    cursor: pointer;
  }

  .pagination button.active {
    background: #6a4cff;
  }
}

/* Media Query for Tablet Devices */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  #first-nav {
    display: flex;
    justify-content: space-between;
    height: 55px;
  }
  .first-nav-logo {
    height: 97px;
    width: 125px;
    margin: 0 0 0 40px;
  }
  .register-btn-nav {
    margin: 12px 24px 0 0;
  }
  .register-btn {
    height: 30px;
  }
  .icon-box-child {
    height: 29px;
    width: 29px;
  }
  .text-box {
    color: #000e38;
    font-size: 12px !important;
    text-transform: uppercase;
  }
  .text-box-2 {
    height: 39px;
    margin: 12px 24px 0 0;
    font-size: 14px;
  }
  .sec-nav-logo {
    height: 63px;
    width: 76px;
    margin: 0 0 0 39px;
  }
  .hero {
    height: fit-content;
    padding-bottom: 10px;
  }
  .hero-container {
    display: flex;
    gap: 40px;
    flex-direction: column;
  }
  .hero-left {
    width: 71%;
  }
  .hero-images {
    width: 69%;
  }
  .hero-form {
    width: 71%;
  }
  /* Frame Section */
  .image-section {
    grid-template-columns: repeat(4, 160px);
  }
  .image-section img {
    width: 160px;
  }
  /* school logo section */
  .track img {
    width: 120px;
    height: 120px;
  }
  /* School section */
  .card-grid {
    display: flex;
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }

  .card {
    flex: 0 0 43%;
    scroll-snap-align: start;
  }

  .card-grid::-webkit-scrollbar {
    display: none;
  }
  .pagination {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 15px;
  }

  .pagination button {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: none;
    background: #ccc;
    cursor: pointer;
  }
  .schools h1 {
    font-size: 25px;
  }
  .school-section h1 {
    font-size: 25px;
  }
  .pagination button.active {
    background: #6a4cff;
  }

  /* pre-schedule section */
  .content h1 {
    font-size: 24px !important;
  }
  .content small {
    font-size: 14px;
  }
  .content-button {
    width: 188px;
  }
  .text-box {
    font-size: 11px !important;
  }
  /* exhibition section */
  .slide-card {
    flex: 0 0 calc(50% - 24px);
  }
  /* footer section */
  .footer-top {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 30px;
  }

  .footer-logo {
    grid-column: span 2;
  }
  /*  */
  .hero-container {
    flex-direction: column;
    gap: 32px;
  }

  .hero-images {
    height: 380px;
    justify-content: center;
    gap: 12px;
  }

  .hero-images img {
    width: 104px;
    height: 280px;
  }
}
